@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Orbitron';
  src: url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
}

body {
  margin: 0;
  background-color: #020617; /* El azul oscuro espacial */
  color: #f8fafc;
  font-family: 'Rajdhani', sans-serif;
}
